.modal {
  width: 22rem;
  padding: 1.5rem;
  background-color: $white;
  border-radius: 0.375rem;

  &-container {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(204, 204, 204, 0.7);
  }

  &__message {
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
  }
}
