.log {
  width: 20.75rem;
  padding: 1rem;
  display: flex;
  gap: 1rem;

  &-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    height: 100%;
    padding: 5rem 5rem 5rem 2.5rem;
    background-color: $white;
    box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5),
      0px 2px 4px rgba(0, 0, 0, 0.25);
  }

  &-emoji {
    font-size: 2rem;
  }

  &-content {
    width: fit-content;
  }

  &-description {
    margin: 0.5rem 0;
  }

  &.log-timestamp {
    color: $grey3;
  }
}
