@import '@style/variable.scss';

.taskcard {
  &-list {
    margin-top: 1rem;
    height: 100%;
  }

  &-column {
    min-width: $task-list-width;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__info {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: $bold;
    }

    &__title {
      font-size: 1.125rem;
    }

    &__count {
      width: 1.625rem;
      height: 1.625rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $darkgrey;
      border-radius: 50%;
      font-size: 0.875rem;
    }

    &__utils {
      display: flex;
      gap: 0.5rem;
    }
  }
}
